beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
configobj==5.0.6
idna==2.9
iniparse==0.5
numpy==1.18.4
packaging==20.4
pandas==1.0.4
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
